;plik konfiguracyjny Eksportera

;okreœla koniecznoœæ przeczytania domyœlnych œcie¿ek z pliku .config
CopyTo = True
CopyFrom = True

;okreœla domyœlne œcie¿ki
docel := ("C:\Users\REDDO_PW\Documents\AutoHotKey\Do prób\CopyTo")
sors := ("C:\Users\REDDO_PW\Documents\AutoHotKey\Do prób\CopyFrom")

;okreœla, czy pola dla tych typów plików maj¹ byæ domyœlnie zaznaczone
tmxcheck = False
csvcheck = True

;mo¿e mieæ wartoœæ Boole'a albo liczbow¹; wówczas jest to liczba sekund wyœwietlania okien informacyjnych
debug = False